@model IEnumerable<LHP.DAL.Models.Roomer>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comment)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td class="col-md-3">
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td  class="col-md-2">
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td class="col-md-3">
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td class="col-md-2">
            @Html.DisplayFor(modelItem => item.Comment)
        </td>
        <td class="col-md-3">
            @Html.ActionLink(" ", "Edit", new { id = item.RoomerId}, new { @class = "btn-row btn-edit glyphicon glyphicon-edit", @title="Rediger"})
            @Html.ActionLink(" ", "Details", new { id = item.RoomerId }, new { @class = "btn-row btn-profile glyphicon glyphicon-user", @title = "Detaljer og historik" })
            @Html.ActionLink(" ", "Delete", new { id = item.RoomerId }, new { @class = "btn-row btn-primary glyphicon glyphicon-file", @title = "Fakturer" })
            @Html.ActionLink(" ", "Delete", new { id = item.RoomerId }, new { @class = "btn-row btn-danger glyphicon glyphicon-log-out", @title = "Tjek ud" })

        </td>
    </tr>
}

</table>
