@model LHP.DAL.Models.Invoice

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Invoice</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.InvoiceNb)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InvoiceNb)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnterDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnterDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Valid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Valid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InvoiceType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InvoiceType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InvoiceState)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InvoiceState)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.InvoiceId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
