@model IEnumerable<LHP.DAL.Models.Invoice>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.InvoiceNb)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EnterDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Valid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InvoiceType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InvoiceState)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.InvoiceNb)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreateDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EnterDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Valid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InvoiceType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InvoiceState)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {id = item.InvoiceId}) |
            @Html.ActionLink("Details", "Details", new {id = item.InvoiceId}) |
            @Html.ActionLink("Delete", "Delete", new {id = item.InvoiceId})
        </td>
    </tr>
}

</table>
